.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
}

.carousel-slide {
  min-width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.visuallyhidden {
  position: absolute;
  /* Positionne l'élément en dehors du flux normal */
  width: 1px;
  /* Réduit la largeur à 1 pixel */
  height: 1px;
  /* Réduit la hauteur à 1 pixel */
  margin: -1px;
  /* Utilise une marge négative pour éviter l'espace supplémentaire */
  padding: 0;
  /* Aucune marge intérieure */
  overflow: hidden;
  /* Cache tout débordement */
  clip: rect(0, 0, 0, 0);
  /* Cache l'élément en le découpant */
  border: 0;
  /* Enlève toute bordure */
}